@page "/render-mode-InteractiveWebAssembly"
@rendermode InteractiveWebAssembly

<h2>InteractiveWebAssembly</h2>

<button @onclick="UpdateMessage">Click me</button> @message

@code {
    private string message = "Not clicked yet.";

    private void UpdateMessage()
    {
        message = "Somebody clicked me!";
    }
    protected override void OnInitialized()
    {
        Console.WriteLine($"Initialized at {DateTime.Now}");
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"OnInitializedAsync at {DateTime.Now}");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine($"OnAfterRenderAsync at {DateTime.Now}");
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine($"OnAfterRender at {DateTime.Now}");
        }
    }
}