@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, net8 BlazorWebApp!</h1>

Welcome to your new app.


<h5>Demo</h5>

<ol>
    <li>Blazor</li>
    <li>WebApp</li>
    <li>Global</li>
    <li>Webapi</li>
    <li>BootstrapBlazor</li>
    <li>FreeSql ORM</li>
</ol>
