@page "/tabledemoService"
@rendermode InteractiveAuto

<PageTitle>Table Service</PageTitle>

<h1>Table Service (Auto) <CheckEnvironment /></h1> 

<BootstrapBlazorRoot>

    <Table TItem="WeatherForecast"
           DataService="DataService"
           OnQueryAsync="DataService.QueryAsync"
           OnSaveAsync="DataService.SaveAsync"
           OnDeleteAsync="DataService.DeleteAsync"
           IsPagination
           IsStriped
           IsBordered
           AutoGenerateColumns
           ShowSearch
           ShowToolbar
           ShowExtendButtons
           ShowColumnList
           ShowCardView
           DoubleClickToEdit
           IsMultipleSelect>
    </Table>
</BootstrapBlazorRoot>

@code {

    [Inject]
    [NotNull]
    private ApiDataService<WeatherForecast>? DataService { get; set; } 

}
