@page "/tabledemo"
@inject WeatherForecastService ForecastService 

<PageTitle>Table</PageTitle>

<h1>Table (Auto)</h1>

 
<Button Text="@RefreshText" OnClick="OnClick" class="my-2" />


    <Table TItem="WeatherForecast" 
           Items="@forecasts"
           IsPagination
           IsStriped
           IsBordered
           ShowSearch
           ShowToolbar
           ShowExtendButtons
           ShowColumnList
           ShowCardView
           AutoGenerateColumns 
           DoubleClickToEdit
           IsMultipleSelect> 
    </Table>

@code {
    [NotNull]
    private string? RefreshText { get; set; } = "刷新";

    private async Task OnClick()
    {
        forecasts = (await ForecastService.GetForecastAsync()).ToList();
    }

    private List<WeatherForecast>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = (await ForecastService.GetForecastAsync()).ToList();
    }
}
